dist/
node_modules/
.env
*.md
.cache/
*.log
*.tmp
.git/
.vscode/
.idea/
coverage/
example/.*
example/.*
example/node_modules/
example/*.log
example/*.tmp
example/*.config.js
example/package-lock.json
example/package.json
example/README.md
example/postcss.config.js
